<h3>TTimeLine</h3>


<div>
    <div class="TTLineCirculeContainer">
        <div class="TTLineContent"><div class="TTLineInsideCircule">1</div></div>
        <div class="TTLineContent"><div class="TTLineInsideCircule">2</div></div>
        <div class="TTLineContent"><div class="TTLineInsideCircule">3</div></div>
    </div>
</div>
<style>
    .TTLineCirculeContainer {
        display:flex;
        flex-direction:row;
        padding: 20px;
    }

    .TTLineContent {
        border-radius:50%;
        background-color: whitesmoke;
        padding: 20px;
    }

    .TTLineInsideCircule {
        border-radius:50%;
        width: 100px;
        height: 100px;
        background-color:white;
        text-align:center;
        font-weight:800;
        font-size:22px;
        
    }
</style>

@code {

}
