<h3>TTMainBackground</h3>



<div class="TMainBackGroundContainer">
        <div class="gallery">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>


    
    
</div>
<div class="box">
    <div class="content">
        <h1 class="username">I'm Surendran BalaMurugan.</h1>
        <div class="certifiedLogo">
            @*  <img class="logo" src="css\images\image2.png" /> *@
        </div>

        <h1>A Web developer </h1>
        <h3 class="base">Based in chennai</h3>
        <p class="quote">Consult not your fears but your hopes and your dreams. Think not about your frustrations, but about your unfulfilled potential. Concern yourself not with what you tried and failed in, but with what it is still possible for you to do.</p>
    </div>
</div>

<style>
    .TMainBackGroundContainer{
        width:30%;
        filter: blur(20px);
        
    }
</style>

@code {

}
